.box .forms {
	padding : 10px 20px 20px;
}

.forms form {
	margin : 10px 0 0;
	padding : 0;
}

.row{
	display : inline-block;
	/*border-top : 1px solid #dbdbdb;*/
	padding : 10px 0;
	width : 100%;
}

.row label{
	display : block;
	padding : 0 0 8px;
	line-height : 9px;
	color : #1c1c1c;
	font-weight : bold;
}

.row span {
	float : left;
	display : block;
	margin : 0 20px 0 4px;
	line-height : 20px;
}

.row span.date {
	margin : 4px 4px 0 0;
}

/* //////////////////// INPUT \\\\\\\\\\\\\\\\\\\\ */

.row input {
	float : left;
	background-image : url(../gfx/input-back.gif);
	background-repeat : repeat-x;
	background-color : transparent;
	border : 1px solid #cdcdcd;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	outline: none;
	padding : 3px 5px 3px;
	margin : 0;
	color : #1c1c1c;
	line-height : 1.4em;
	width : 886px;
	height : 18px;
}

.row input.small,
.row textarea.small {
	width : 156px;
}

.row input.medium,
.row textarea.medium {
	width : 406px;
}

.row input.big,
.row textarea.big {
	width : 646px;
}

/* //////////////////// SELECT \\\\\\\\\\\\\\\\\\\\ */

.row .sb-custom {
	float : left;
	position: relative;
	margin : 0 4px 0 0;
	height : 26px;
}
.row select {
	display : none;
}
.row select .no-js{
	display : none;
}

.row input.sb-select {
	position : absolute;
	background-image : url(../gfx/select-back.gif);
	background-position : right top;
	background-repeat : no-repeat;
	background-color : transparent;
	border : 1px solid #cdcdcd;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	padding : 3px 30px 3px 5px;
	line-height : 18px;
	cursor : pointer;
	color : #1c1c1c;
	text-decoration : none;
	width : 200px;
	height : 18px;
}

.row .sb-overlay {
	position : relative;
	z-index : 999;
}

.row ul.sb-dropdown {
	position : absolute;
	display : none;
	background-color : #FFFFFF;
	border : 1px solid #cdcdcd;
	top : 25px;
	left : 5px;
	list-style-type : none;
	overflow : hidden;
	z-index : 1400;
	margin : 0;
	padding : 0;
	width : 225px;
}

.row ul.sb-dropdown li {
	position : relative;
	background : none;
	background-color : #FFFFFF;
	padding : 0;
	margin : 0;
}

.row ul.sb-dropdown a, ul.row .sb-dropdown a:link, ul.row .sb-dropdown a:active, ul.row .sb-dropdown a:visited {
	display : block;
	background : none;
	padding : 5px 10px;
	overflow : hidden;
	font-family : Arial;
	cursor : pointer;
	color: #1c1c1c;
	font-size : 12px;
	line-height : 22px;
	text-decoration: none;
	width : 205px;
	height : 21px;
}

.row ul.sb-dropdown a:hover,
.row ul.sb-dropdown .selected {
  background-color : #f7f7f7;
}

/* //////////////////// TEXTAREA \\\\\\\\\\\\\\\\\\\\ */

.row textarea {
	float : left;
	background-image : url(../gfx/input-back.gif);
	background-repeat : repeat-x;
	background-color : transparent;
	border : 1px solid #cdcdcd;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	resize : none;
	overflow : auto;
	outline: none;
	padding : 5px;
	margin : 0;
	font-size : 12px;
	font-family : Arial;
	color : #1c1c1c;
	line-height : 12px;
	width : 886px;
	height : 80px;
}

/* //////////////////// CHECKBOX & RADIO \\\\\\\\\\\\\\\\\\\\ */

.row input.checkbox,
.row input.radio {
	border : 0;
	padding : 0;
	margin : 3px 0 0;
	*margin :  6px 0 0;
	outline: invert none medium;
	width : 13px;
	height : 13px;
}

.row input.checkbox:focus,
.row input.radio:focus{
	outline: #cdcdcd solid 1px;
}

/* //////////////////// BUTTONS \\\\\\\\\\\\\\\\\\\\ */

.buttons{
	padding : 10px 0 0;
	*padding :  8px 0 0;
}

.buttons div{
	float : left;
	padding : 5px 0 0 10px;
}

.row button::-moz-focus-inner {border:0;padding:0;margin:0;}

.row button{
	float : left;
	background-repeat : repeat-x;
	background-color : transparent;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	border : none;
	outline: none;
	padding : 0;
	margin : 0 4px 0 0;
	cursor : pointer;
	text-transform : uppercase;
    overflow: visible;
	width : auto;
}

.row button span{
	float : left;
	background-repeat : repeat-x;
	background-color : transparent;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	padding : 0 15px;
	margin : 0;
	font-family : Arial;
	font-size : 14px;
	font-weight : bold;
	line-height : 1.87em;
	color : #FFFFFF;
	white-space : nowrap;
}


.row button:hover span {
	background-position : left bottom;
	border : 1px solid #2b2b2b;
}

/* //////////////////// UPLOAD BUTTON \\\\\\\\\\\\\\\\\\\\ */

.box .row input.file {
	margin : 0 4px 0 0;
	z-index : 99;
}

.box .row div.btn-upload {
	background-position : right top;
	background-repeat : no-repeat;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
}

.box .row div.btn-upload:hover {
	background-position : right bottom;
	border : 1px solid #2b2b2b;
}

/* //////////////////// DATE PICKER \\\\\\\\\\\\\\\\\\\\ */

.row input.datepicker {
	background-image : url(../gfx/date-picker.gif);
	background-position : right top;
	background-repeat : no-repeat;
	background-color : transparent;
	border : 1px solid #cdcdcd;
	-webkit-border-radius : 4px;
	-moz-border-radius : 4px;
	border-radius : 4px;
	margin : 0 20px 0 0;
	cursor : pointer;
	width : 92px;
}