.menu ul, .menu ul * {
	margin : 0;
	padding : 0;
	list-style-type : none;
}
.menu ul {
	line-height : 1.0;
}
.menu ul ul {
	position : absolute;
	top : -999em;
	width : 10em;
}
.menu ul ul li {
	width : 100%;
}
.menu ul li:hover {
	visibility : inherit;
}
.menu ul li {
	float : left;
	position : relative;
}
.menu ul a {
	display : block;
	position : relative;
}
.menu ul li:hover ul,
.menu ul li.sfHover ul {
	left : 0;
	top : 31px; /* match top ul list item height */
	z-index : 99;
}
.menu ul li:hover li ul,
.menu ul li.sfHover li ul {
	top : -999em;
}
.menu ul li li:hover ul,
.menu ul li li.sfHover ul {
	left : 10em;
	top : 0;
}
.menu ul li li:hover li ul,
.menu ul li li.sfHover li ul {
	top : -999em;
}
.menu ul li li li:hover ul,
.menu ul li li li.sfHover ul {
	left : 10em;
	top : 0;
}

.menu ul {
	top : 0;
	z-index : 999;
	font-family : Arial;
	font-size : 12px;
	font-weight : bold;
	line-height : normal;
}

.menu ul li{
	background : none;
}

.menu ul li.break {
	background-image : url(../gfx/menu-break.gif);
	background-repeat : no-repeat;
	margin : 1px 0 0;
	overflow : hidden;
	width : 2px;
	height : 29px;
}

.menu ul li li.break {
	border-bottom : 1px dashed #d9d9d9;
	margin : 0;
	overflow : hidden;
	width : 100%;
	height : 0px;
}

.menu ul ul{
	background-color : #fdfdfd;
	border-left : 1px solid #d3d3d3;
	border-right : 1px solid #d3d3d3;
	border-bottom : 1px solid #d3d3d3;
	margin : 0 0 0 -2px;
	-webkit-border-radius : 0 0 4px 4px;
	-moz-border-radius : 0 0 4px 4px;
	border-radius : 0 0 4px 4px;
}

.menu ul ul ul{
	background-color : #fdfdfd;
	border : 1px solid #d3d3d3;
	margin : -1px 0 0 0;
	-webkit-border-radius : 0 4px 4px 4px;
	-moz-border-radius : 0 4px 4px 4px;
	border-radius : 0 4px 4px 4px;
}

.menu ul li a, .menu ul li a:link, .menu ul li a:active, .menu ul li a:visited{
	position : relative;
	z-index : 999;
	padding : .7em 20px .7em;
	text-decoration : none;
	white-space : nowrap;
}

.menu ul li li a, .menu ul li li a:link, .menu ul li li a:active, .menu ul li li a:visited  {
	position : relative;
	z-index : 999;
	padding : 7px 20px 7px;
	text-decoration : none;
	overflow : hidden;
	white-space : nowrap;
}

.menu ul li.current a, .menu ul li.current a:link, .menu ul li.current a:active, .menu ul li.current a:visited,
.menu ul li li.current a, .menu ul li li.current a:link, .menu ul li li.current a:active, .menu ul li li.current a:visited,
.menu ul li:hover, .menu ul li.sfHover,
.menu ul li a:focus, .menu ul li a:hover,
.menu ul li li a:focus, .menu ul li li a:hover{
	outline : 0;
}

.menu ul li.current a, .menu ul li.current a:link, .menu ul li.current a:active, .menu ul li.current a:visited,
.menu ul li:hover, .menu ul li.sfHover,
.menu ul li a:focus, .menu ul li a:hover{
	background-image : url(../gfx/menu-active.gif);
	background-position : left 1px;
	background-repeat : repeat-x;
}

.menu ul li li a, .menu ul li li a:link, .menu ul li li a:active, .menu ul li li a:visited,
.menu ul li.current li a, .menu ul li.current  li a:link, .menu ul li.current  li a:active, .menu ul li.current  li a:visited,
.menu ul li li.current a, .menu ul li li.current a:link, .menu ul li li.current a:active, .menu ul li li.current a:visited,
.menu ul li:hover, .menu ul li.sfHover,
.menu ul li li:hover, .menu ul li li.sfHover
.menu ul li li a:focus, .menu ul li li a:hover{
	background-image : none;
}